<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004592653285-3htii71dus49av1av7icso120fsaqqru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004592653285-3htii71dus49av1av7icso120fsaqqru</string>
	<key>API_KEY</key>
	<string>AIzaSyDEZ5Mq8-bNmc4Uyr1EJbLWV9mWiX030DQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1004592653285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.everis.sl.TestPush</string>
	<key>PROJECT_ID</key>
	<string>testpush-3f825</string>
	<key>STORAGE_BUCKET</key>
	<string>testpush-3f825.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004592653285:ios:e6b4600a4617096995450c</string>
</dict>
</plist>